/* fonts */
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
/* ----- */
*{
  font-family: 'DynaPuff', cursive;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(to right, #536976, #292e49);
}


